<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RuanMasterDataDb" connectionString="Data Source=TMWPRODDB01\TMW;Initial Catalog=RuanMasterData;Integrated Security=True;Connection Lifetime=15;Min Pool Size=1;Max Pool Size=200;Connection Timeout=180;TrustServerCertificate=true;" />
		<add name="TMWDb" connectionString="Data Source=TMWPRODDB01\TMW;Initial Catalog=TMW;MultipleActiveResultSets=True;Integrated Security=SSPI;connection lifetime=15;min pool size=1;max pool size=200;Connect Timeout=180;" />
	</connectionStrings>
</configuration>